.block{
  width: 150px;
  height: 150px;
  border: 5px solid black;
  background-size: cover;
  display: inline-block;
}

.mark1{
  background-image: url('images/0.png');
}

.mark2{
  background-image: url('images/cross.png');
}

.board{
  background-color: aqua;
  width: fit-content;
}